<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <div class="d-flex align-items-center mb-3 pb-1">
                    <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                    <span class="h1 fw-bold mb-0">Sign in as</span>
                </div>

                <div class="form-outline mb-4">
                    <a href="/student_sign_in" class="btn btn-primary btn-lg btn-block">Student</a>
                </div>

                <div class="form-outline mb-4">
                    <a href="/facualty_sign_in" class="btn btn-primary btn-lg btn-block">Facualty</a>
                </div>

                </form>
            </div>
        </div>
    </div>
</section>