<!DOCTYPE html>
<html>

<head><!-- Custom Theme files -->
  <link href="stylesheets/bootstrap.css" type="text/css" rel="stylesheet" media="all">
  {{!--
  <link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="all"> --}}
  <!-- font-awesome icons -->
  <link href="stylesheets/fontawesome-all.min.css" rel="stylesheet">
  <!-- //Custom Theme files -->
  <!-- online-fonts -->
  <link href="//fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
  <!-- //online-fonts -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="/public/stylesheets/index.css">
</head>

<body>
  <nav class="navbar navbar-dark bg-primary">
   <h3 style="color: white;">Student Tracking</h3>
  </nav>
  {{{body}}}
</body>

</html>